body {
	font: 14px "Times New Roman", Times, serif;
	background: #C0C0C0;
}

.buttonDock {
	display: table;
	height: 22%;
	max-height: 22%;
	width: 61%;
	bottom: 0;
	left: 19.5%;
	margin: 0 auto;
	position: absolute;
	background: #C0C0C0; 
}

.button-row {
	display: table-row;
	width: 100%;
	height: 33.333%;
	margin: 0 auto;
}

.button {
	background: #3E3E3E;
	border-color: #C0C0C0;
	border-style: solid;
	font: 14px "Times New Roman", Times, serif;
	font-weight: bold;
	height: 100%;
	text-align: center;
	vertical-align: top;
	color: white;
	width: 20%;
}

.button:disabled, .button[disabled] {
	background: #8C8C8C;
	border-color: #C0C0C0;
	border-style: solid;
	font: 14px "Times New Roman", Times, serif;
	font-weight: bold;
	height: 100%;
	text-align: center;
	vertical-align: top;
	color: #C0C0C0;
	width: 20%;
}

.leftSideBar {
	height: 100%;
	width: 18.5%;
	left: 0;
	top: 0; bottom: 0;
	position: absolute;
	background: #3E3E3E; 
}

.leftSideTabs {
	height: 100%;
	width: 10%;
	left: 100%;
	position: absolute;
	background: fuchsia;
}

.rightSideBar {
	height: 100%;
	width: 18.5%;
	right: 0;
	top: 0; bottom: 0;
	position: absolute;
	background: #3E3E3E; 
}

.rightSideTabs {
	height: 100%;
	width: 10%;
	right: 100%;
	position: absolute;
	background: fuchsia;
}

.mainTextContainer {
	height: 76.5%;
	width: 59.3%;
	top: 0;
	left: 20.35%;
	margin: 0 auto;
	position: absolute;
	background: #C0C0C0; 
	overflow-y:auto;
	line-height: 1.1;
}

.mainText {
	padding: 1%;
	margin: 0;
    white-space: pre-wrap;
	overflow-wrap: break-word;
	display: block;
}

.textInput {
	margin-left: 1%;

}

.game {
	 /* Aspect ratio */
	/*height:100vm; width:100vm;*/ /* IE9 fallback */
	width: 100vw; 
	height: 56.25vw;
	max-height: 100vh;
	max-width: 177.7777vh;
	/*Centering */
	position: absolute;
	top:0;bottom:0;
	left:0;right:0;
	margin: auto;
	/* styling */
	background: #C0C0C0;
}

.game-info {
	margin-left: 20px;
}